<h1>Course Types</h1>

<table class="table table-striped table-hover col-xs-3">
    <thead>
    <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            
    </tr>
    </thead>
    <% @courseTypes.each do |courseType| %>
        <tr>
            <td><%=courseType.name %></td>
            <td><%=courseType.description %></td>
            <td><%=courseType.start.to_s(:courseDate)%></td>
            <td><%=courseType.end.to_s(:courseDate) %></td>
            
        </tr>
    <% end %>
</table>

